---
layout: default
---

<h5><span class="bibtitle">{{ entry.title }}.</span> <span class="bibyear">{{ entry.year }}</span></h5>
<span class="bibauthor">{{ entry.author }}.</span><br>
<em class="bibbook">{% if entry.booktitle %}{{ entry.booktitle}}{% else %}{{ entry.journal}}{%endif%}</em><br>
[<a href="https://doi.org/{{ entry.doi }}"> doi: <span class="bibdoi">{{ entry.doi }}</span> </a>]
[<a href="#" data-toggle="modal" data-target="#{{ entry.key }}"> Bibtex </a>]
{% if entry.preprint %} [<a href="{{ entry.preprint }}"> preprint </a> ] {% endif %}
{% if entry.onlineappen %} [<a href="{{ entry.onlineappen }}"> Online Appendix </a> ] {% endif %}

<div class="modal fade" id="{{ entry.key }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ entry.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
{% assign temp = entry.bibtex | newline_to_br%}
{% assign my_array = temp | split: "<br />" %}
            <textarea name="{{entry.key}}" id="id{{entry.key}}" style="width:58vw" rows="{{ my_array | size }}">
{{ entry.bibtex }}</textarea>
        </div>
      </div>
    </div>
  </div>